@import "utilities";
@import "variables";

nav-bar, login-form, media-player, media-uploader {
  &:extend(.display-block);
}

.app-bar-element {

  //Search box style in app-bar
  &.search-box {
    width: 45%;
  }
}

media-uploader {
  border-bottom-color: @theme-border-bottom-color;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

