<template>
  <nav class="app-bar fixed-top" data-role="appbar">


    <a class="app-bar-element branding" href="/">${router.title}</a>
    <span class="app-bar-divider"></span>
    <ul class="app-bar-menu">
      <li>
        <a href="" class="dropdown-toggle">Toggle Navigation</a>
        <ul class="d-menu" data-role="dropdown">
          <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
            <a href.bind="row.href">${row.title}</a>
          </li>
          <li class="divider"></li>
        </ul>
      </li>
      <li><a href="">Support</a></li>
      <li><a href="">Help</a></li>
    </ul>

    <a class="app-bar-element place-right loader" if.bind="router.isNavigating">
      <span class="fa fa-spinner fa-spin fa-2x"></span>
    </a>

  </nav>
</template>
