
.media-item {
  float: left;
  width: 196px;
  overflow: hidden;
  height: 128px;
  text-overflow: ellipsis;
  margin: 0 4px;

  .thumb {
    height: 110px;
  }

  .title {
    line-height: 1.3em;
  }
}
